.main-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
}
.container h1{
    font-family: "Inter", sans-serif;
}

.products{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: auto;
    color:#E8E5E0;
}

.product{
    border:1px solid #898989;
    padding:0px 15px 0px 0px ;
    display: flex;
    gap: 20px;
}
.product:hover{
    opacity: 0.9;
}

.product-image{
    width:120px;
    height:60px;
    align-items: center;
}

.product-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.product-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px
}

.product-name-price{
    display: flex;
}

@media (max-width:500px){
    .product-details{
        flex-direction: column;
        margin-top: 5px;
        margin-bottom: 5px;
        gap: 15px;
    }
    .product-name-price{
        flex-direction: column;
    }
}

.product-name{
    width:220px;
    font-size:large;
}
.product-price{
    width:50px;
    font-size:large;
}

.cart-operations{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.cart-operations button{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border: none;
    padding: 5px 10px;
    font-family: "Inter", sans-serif;
}

.move-to-wishlist button{
    background: #3d724f;
    width:120px;
    text-align: center;
}

.remove-from-cart button{
    background-color: #e66051;
    width:130px;
    text-align: center;
}

.no-item-found{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.no-item-found a{
    color: #e66051;
    text-decoration: underline;
}