.main-container{
    display: grid;
    grid-template-columns:70% 20%;
    gap: 1rem;
}

.products{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: auto;
    color:#E8E5E0;
}

.product{
    border:1px solid #898989;
    padding:0px 15px 0px 0px ;
    display: flex;
    gap: 20px;
}
.product:hover{
    opacity: 0.9;
}
.product-image{
    width:120px;
    height:60px;
    align-items: center;
}

.product-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.product-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px
}

.product-name{
    width:220px;
    font-size:large;
}
.product-price{
    width:125px;
    font-size:large;
}
.cart-operations{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.cart-operations button{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border: none;
    padding: 5px 10px;
    font-family: "Inter", sans-serif;
}

.move-to-wishlist button{
    background: #3d724f;
}

.remove-from-cart button{
    background-color: #e66051;
}

/*sidebar section css*/
.sidebar{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background: #161618;
    padding: 10px 10px;
}
.sidebar-header{
    padding: 10px 10px;
    font-family: "Inter", sans-serif;
    background: #494a4f;
}

.price-discount-section{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
    font-family: "Noto Serif", serif;
    margin-top:10px;
}
.payment-button-section{
    padding: 0px 10px;
}
.payment-button{
    padding: 10px 10px;
    background-color: #00e205;
    font-weight: bold;
}

.no-item-found{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.no-item-found a{
    color: #e66051;
    text-decoration: underline;
}