.container{
    margin:30px;
    font-family: "Noto Serif", serif;
}

.heading-container{
    margin: 15px 5px;
    display: flex;
    gap: 15px;
    font-size: large;
    align-items: center;
}

.inner-container{
    display:flex;
    /*gap: 25px;*/
    margin: 15px 0px;
    align-items: center;
    justify-content: space-around;
}

@media (max-width:1000px){
    .inner-container{
        flex-direction: column;
    }
}


.left-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    /*gap: 15px;*/
}


.screenshot-container img{
    align-items: center;
    width:800px;
}

.right-container{
    margin-top: 0px;
}

.mini-img-container img{
    margin: 5px 2px;
    width: 350px;
}

.details{
    margin: 3px 2px;
}

.short-desc{
    font-size: 15px;
    width: 350px;
    text-align: justify;
}

.pub-dev{
    margin:2px 0px;
    font-size:large;
    color: #898989;
}

.pub-dev-title{
    text-decoration: underline;
    color: #e66051;
}


.cart-wishlist-container{
    display: flex;
    gap: 15px;
    margin-top: 15px;
    align-items: center;
    color: #161618;

}

.product-cart{
    text-align: center;
    background-color:#3d724f;
    padding:8px;
    cursor:pointer;
}

.product-cart:hover{
    background-color:#10d422;
}

.product-wishlist{
    text-align: center;
    background-color:#494a4f ;
    padding:8px;
    cursor:pointer;
}

.product-wishlist:hover{
    background-color:#e66051;
}

/* Bottom Container */
.middle-container{
    display: flex;
    margin: 0px 20px;
    justify-content: space-between;
}
.left-middle-container{
    display: flex;
}
/*experiemntal*/

.hidden {
    display: none; /* Hide the hidden content initially */
}
#content-container {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
#toggleButton {
    margin-top: 10px;
    cursor: pointer;
    color: #e66051;
    font-size: 18px;
    font-style: italic;
}
#toggleButton:hover {
    text-decoration: underline;
}

